.Button buttons {
    border: 2px solid #ffbb42;
    border-radius: 3px;
    box-shadow: 0px 2px 5px 0px rgba(255, 187, 66, 0.75);
    background: #ffbb42;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 20px;
}